button.actionButton {
  width: 90%;
  height: 90%;
  background-color: transparent;
  background-size: cover;
  border-radius: 15%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:not(:disabled) {
    &:hover {
      border-color: #646cff;
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  &:disabled {
    background-color: rgba(80, 80, 80, 0.4);
  }

  &.focusFace {
    background-image: url("/src/assets/eye-target.svg");
  }

  &.clockwise {
    background-image: url("/src/assets/clockwise-rotation.svg");
  }

  &.antiClockwise {
    background-image: url("/src/assets/anticlockwise-rotation.svg");
    background-size: cover;
  }

  &.sliceLeft {
    background-image: url("/src/assets/sideswipe.svg");
  }
  &.sliceRight {
    background-image: url("/src/assets/sideswipe.svg");
    transform: scaleX(-1);
  }
  &.sliceUp {
    background-image: url("/src/assets/overhead.svg");
  }
  &.sliceDown {
    background-image: url("/src/assets/underhand.svg");
  }
}
