.cubePlayground {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr repeat(2fr, 4);
  grid-template-rows: 1fr repeat(2fr, 3) auto;
  grid-template-areas:
    "head  head head head head"
    "panel cube cube cube cube"
    "panel cube cube cube cube"
    "panel cube cube cube cube"
    "foot  foot foot foot foot";
  row-gap: 5px;
  column-gap: 5px;
  min-width: 850px;

  .head,
  .controlPanel,
  .cube,
  .foot {
    padding: 10px;
  }

  .head {
    grid-area: head;
  }

  .controlPanel {
    grid-area: panel;
  }

  .cube {
    grid-area: cube;
  }

  .foot {
    grid-area: foot;
  }
}
